.wrapper{
    height: 100vh;
}
.signup{
    width: 350px;
    padding: 20px;
    color: black;
    /* background-color: rgb(243, 239, 239); */
    background-color: rgba(255, 255, 255, 0.700);
    height:max-content;
    border-radius:10px;
    box-shadow: 5px 5px 5px rgba(97, 43, 43, 0.2);
}
/* body {
    background-color: #faf6d2;
} */